/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, #userinfo, nav {
    font-family: 'Roboto', sans-serif;
}

h2{
    border-bottom: 2px solid #777;
}

h3 .date{
    float: right;
    font-size: 0.66em;
}

h3 .date .show{
    color: #54C571;
    font-weight: bolder;
}

html, body { height:100%; margin:0; padding:0; }


body {
    min-width: 930px;
    max-width: 1280px;
    margin: 0px auto;
    background-color: #D1D0CE; /* gray goose */
}

#pageBackground {
    background-color: #FEFCFF; /* milk white */
    padding: 20px;
    min-height: calc(100% - 74px); /* 2*20px from padding + 30 px from footer +4px footer border */
}


header .wrapper {
  overflow:hidden;
}


header #header-left {
    float: left;
    margin-right: 1em;
}


header #header-right {
    overflow: hidden;
    vertical-align: middle;
    float: left;
    margin: 1em 0;
}


header #userinfo{
    float: right;
    vertical-align: middle;
    margin: 1em 0;
    overflow: hidden;
    height: 100%
}

header #userinfo form {
    float: right;
}

header h1{
    margin: 0;
    font-size: 3em;
    text-shadow: 4px 4px 10px rgba(150, 150, 150, 1);
}

header p{
    margin: 0px;
    color: #B6B6B4;
}

#login form{
    float: right;
}

footer p {
    margin: 0 ;
    text-align: center;
}

.biggerText {
    font-size: 1.3em;
}

#login, footer {
    margin: 1em 0px;
    padding: 0.25em;

    border-top: 2px solid #54C571;
    border-bottom: 2px solid #54C571;

    overflow: hidden;
}

footer {
    align-content: center;
    padding: 0;
    background-color: #FEFCFF;
    height: 30px;
    margin: 0;
    border-bottom: none;
}

#login span{
    vertical-align: middle;
    display: inline-block;
}

.form_spacer {
    margin-left: 2.5em;
}
a.button{
    border: 2px outset buttonface;
}
.button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;

  background: #54C571;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.button:hover {
  background: #72E38F;
  text-decoration: none;
}

/* ============= Homepage Description ============= */
.usecase-description > img {
    width: 300px;
    padding-bottom: 0.25em;
}

.usecase-description:nth-child(odd) > img {
    float: left;
    padding-right: 1em;
}

.usecase-description:nth-child(even) > img {
    float: right;
    padding-left: 1em;
}

.usecase-description:nth-child(even) > h2 {
    text-align: right;
}


.usecase-description h2 {
    margin: 0px;
    margin-bottom: 3px;
}


/* ============= h elements with button ============= */
.headlineButton a,.headlineButton input{
    float: right;
    font-size: 0.66em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0.1em;
}

.headlineButton form
{
    display: inline-block;
    float: right;
}

/* ============= Navigation ============= */

nav {
    width: 100%;
    margin: 0.25em 0;

    background: #f0f0f0;
    border: 1px solid #ccc;
    border-right: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    flex-grow: 1;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
}

nav ul li a {
    display: block;
    color: #616161;
    padding: 0.25em;
    text-decoration: none;
}

nav ul li:first-child {
    border-left: none;
    background: none;
}

.highlight {
    background: #72E38F;
    color: #222222;
}

nav ul li a:hover
{
    background: #d0d0d0;
    color: #222222;
}

/* ============ Notifications ============ */
.notif-list li{
    list-style: none;
    border-bottom: 1px solid #ccc;
    display: block;
    height: 100%;
}

.notif-list li a{
    display: inline-block;
    color: #222222;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
}

.notif-list li a:first-child{
    padding-left: 1em;
    width: 90%;
}

.notif-list li a+a{
    text-align: center;
    border-left: 1px solid black;
    padding-left: 3px;
    width: 7%;
    float: right;
}

.notif-list li a+a:hover{
    background-color: #72E38F;
}

.notif-list li a:first-child:hover {
    border-left: 3px solid #72E38F;
    font-weight: 600;
}
/* ============= Person List ============= */

.personlist li {
    list-style: none;
    margin: 0.25em 0;
    border-bottom: 1px solid #ccc;
}

.personlist li:hover{
    border-left: 3px solid #72E38F;
    font-weight: 600;
}

.personlist li a {
    display: block;
    height: 100%;
    color: #222222;
    padding-left: 1em;
    text-decoration: none;
}

.cursharelist {
	padding-left:0;
	overflow:hidden;
}

.sharelist {
	padding-left:0;
	height:300px;
	overflow:hidden;
	overflow-y:scroll;
}

.sharelist li {
    margin-right: 0.5em;
}

.sharelist li input{
    margin-right: 1em;
}

.onlinelist li a {
    float: left;
}

#legende {
    float: right;
}

.circle {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.green {
    background: #54C571;
}

.red {
    background: #E5343C;
}

li .circle {
    float: right;
}

/* ============= Person Data ============= */
#data-container dl{
    margin: 0;
    padding: 0;
}

.person-data dt, .person-data dd{
    display: inline;
}
.person-data p{
     margin: 0.1em;
}
#data-container .person-data{
    float: left;
}
.person-data dl{
    margin: 0.5em 0;
}
.person-data dt {
    display: inline;
    float: left;
    clear: left;
    width: 140px;
    padding: 5px 0;
    padding-right: 0.5em;
    margin:0;
    text-align: right;
}
.person-data dd {
    float: left;
    width: 280px;
    padding: 5px 0;
    padding-left: 0.5em;
    margin:0;
}

.label{
    font-weight: 600;
}

.thumbnail {
    float: left;
    width: 128px;
    height: 128px;
    margin: 5px;
}

#diagnose a{
    border-radius: 50%;
    outline: 0;
}

#diagnose a:focus{
    outline: 0;
}

.fa-pencil:hover {
    background-color: #72E38F;
    border-radius: 50%;
    color: #222222;
}

.fa-pencil{
    color: #616161;
}

.fa-circle {
    color: rgba(255, 255, 255, 0);
}

/* ============= Comments for Image ============= */
#comments .accordion{
    
}

.coord_show{
    color: #54C571;
    font-weight: bolder;
}

.fa-quote-left {
    color: #72E38F;
}

.fa-quote-right {
    color: #72E38F;
}

/*#c_buttons a{
    border-radius: 50%;
    outline: 0;
}

#c_buttons a:focus{
    outline: 0;
}*/

.fa-comments {
    color: black;
}

/*.fa-comments:hover {
    background-color: #72E38F;
    border-radius: 50%;
    color: #222222;
}*/

.fa-plus {
    color: black;
}

/*.fa-plus:hover {
    background-color: #72E38F;
    border-radius: 50%;
    color: #222222;
}*/

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Overlay & Modal styles
   ========================================================================== */

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.75);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 300ms ease-in;
	-moz-transition: opacity 300ms ease-in;
	transition: opacity 300ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}
.close {
	background: #54C571;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #72E38F; }

/***********************/
/******* icd search ****/
/***********************/

.icd_container {
	height: 30px;
	float: left;
	width: 100%;
}
.icd_container input {
	width: 99%;
	height: 25px;
	border: 1px solid #cccccc;
	border-radius: 0;
}
.icd_container ul {
	width: 90.5%;
	border: 1px solid #eaeaea;
	position: absolute;
	z-index: 9;
	background: #f3f3f3;
	list-style: none;
	cursor:default;
}
.icd_container ul li {
	padding: 2px;
}
.icd_container ul li:hover {
	background: #eaeaea;
}
#listICD {
	padding: 0px;
	display: none;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
