<header>
    <div class="wrapper">
        <div id="header-left">
            <a href="index.php"> <img src="img/logo-128px.png" alt="Logo"/> </a>
        </div>
        <div id="header-right">
            <h1>GABA</h1>
            <p>Gemeinsam Aufnahmen Bearbeiten und Ansehen.</p>
        </div>
    </div>
</header>